

.nav{
    text-align: center;
    background-color: rgb(247, 247, 247,0.9);
    height:30px;
    border-radius: 10px;
    padding: 10px 0px 0px 10px;
    


}

.nav a{
    margin-left: 10px;
}

.image img{
    height: 100%;
    width: 120%;
}

.head{
    text-align: center;
    margin-top: 200px;
    color: rgb(255, 255, 255);
    
}

.btn{
    color: rgb(243, 3, 251);
    text-decoration: none;
    text-align: center;
    
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://t4.ftcdn.net/jpg/05/95/73/69/360_F_595736900_mS56oAm9N7IaFDwBPKsRIMIlwPDETSYa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 99vh;
    
}



